<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
{#            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"#}
{#                    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"#}
{#                    crossorigin="anonymous"></script>#}
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
               <link rel="stylesheet" href="{{ asset('build/global.css') }}" type="text/css">
        {% endblock %}
    </head>
    <body>
        {% block body %}
            {% if allowed %}
                <div class="bg"></div>
            {% else %}
                <div class="container">
                    <div class="row justify-content-md-center mt-4 px-md-5">
                        <div class="mb-3">
                            Vous devez être autorisé pour voir le contenu de cette page
                            <button type="button" onclick="window.location.href = '/logout'"> -> S'authentifier!</button>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
